title = "Anwälte & Juristen"
url = "/anwaelte"
layout = "default"

[lawyers]
==

<div class="page-header text-center">
    <h1 class="page-title">{{ this.page.title|_ }}</h1>
</div>

<div class="row">
        {% for lawyer in lawyers %}
        <div class="col-sm-2 fs-13 b-right">
        	{% if lawyer.photo %}
       			<a href="{{ url('/anwaelte') }}/{{ lawyer.slug }}">
       				<img src="{{ lawyer.photo.getThumb(122,170,{'mode':'crop'}) }}" alt="{{ lawyer.title }} {{ lawyer.name }}" class="img-responsive m-b-sm">
       			</a>
        	{% endif %}

            <div class="lawyer-name-block">
            	<span class="grey"><i>{{ lawyer.jobtitle }}</i></span> <br>
                <a href="{{ url('/anwaelte') }}/{{ lawyer.slug }}" class="a-blue">{{ lawyer.name }}</a> <br>
                <span class="grey"><i>{{ lawyer.title }}</i></span>
            </div>
            <div class="list-unstyled fs-12">
            	{{ lawyer.focus_short|raw }}
            </div>
            
        </div>
        {% endfor %}

        <div class="col-sm-12">
        	<hr>
        	<p>
        		<b>{{ 'Kooperationspartner in Österreich'|_ }}</b> <br>
				{{ 'Rechtsanwalt'|_ }} <br>
				{{ 'Mag. Ernst Ehringfeld <br>
				Hauptplatz 20 <br>
				A-2460 Bruck an der Leitha'|_ }}
			</p>

			<p>
				<b>{{ 'Kooperationspartner in Italien'|_ }}</b> <br>
				{{ 'Rechtsanwältin'|_ }} <br>
				{{ 'Mag. Patrizia Raja <br>
				I-20123 Milano'|_ }}
			</p>

			<p>
				<b>{{ 'Kooperationspartner in Kroatien'|_ }}</b> <br>
				{{ 'Rechtsanwältin'|_ }} <br>
				{{ 'Sandra Budimir LL.M. <br>
				Petrinjska 32a <br>
				HR-10 000 Zagreb'|_ }}
			</p>
        	
        </div>
</div>