[staticMenu]
code = "main-menu"
==
<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="{{ url('/') }}">
            Graff Nestl & Partner
        </a>
    </li>
    {% if staticMenu.menuItems %}
        {% for item in menuItems if not item.viewBag.isHidden %}
            <li role="presentation" class="{{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'child-active' : '' }} {{ item.viewBag.cssClass }}">
                {% if item.url %}
                    <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}>
                        {{ str_limit(item.title|_,20) }}
                    </a>
                {% else %}
                    <span>{{ item.title|_ }}</span>
                {% endif %}

                {% if item.items %}
                    <ul>{% partial __SELF__ ~ "::items" items=item.items %}</ul>
                {% endif %}
            </li>
        {% endfor %}
    {% endif %}

    <hr style="border-top: 1px solid rgba(255,255,255,.2);">
    <li>{{ 'Sprachen'|_ }}:</li>
    <li>
        <a class="languages" href="#" data-request="onSwitchLocale" data-request-data="locale: 'de'">
        <img src="{{ 'assets/images/country-flags/Germany.png'|theme }}" alt="Deutsch" title="Deutsch">
         deutsch</a></li>
    <li>
        <a class="languages" href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">
        <img src="{{ 'assets/images/country-flags/United_Kingdom.png'|theme }}" alt="English" title="English"> 
        english</a></li>
    <li>
        <a class="languages" href="#" data-request="onSwitchLocale" data-request-data="locale: 'ru'"> 
        <img src="{{ 'assets/images/country-flags/Russian_Federation.png'|theme }}" alt="Russisch" title="Russisch">
        russian</a></li>
    <li>
        <a class="languages" href="#" data-request="onSwitchLocale" data-request-data="locale: 'sk'">
        <img src="{{ 'assets/images/country-flags/Slovakia.png'|theme }}" alt="Slovakisch" title="Slovakisch">
         slovak</a></li>
    <li>
        <a class="languages" href="#" data-request="onSwitchLocale" data-request-data="locale: 'it'">
        <img src="{{ 'assets/images/country-flags/Italy.png'|theme }}" alt="Italienisch" title="Italienisch">
         italian</a></li>

</ul>