html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 0px;
    margin: 0;
  
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d7e1e9+0,ffffff+51,d7e1e9+100 */
    background: #d7e1e9; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #d7e1e9 0%, #ffffff 51%, #d7e1e9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #d7e1e9 0%,#ffffff 51%,#d7e1e9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #d7e1e9 0%,#ffffff 51%,#d7e1e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7e1e9', endColorstr='#d7e1e9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Georgia', serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p, h1, h2, h3, h4, h5, h6 {
    color: #114B7D;
}

.site-container {
    background: white;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    padding-bottom: 100px;
}

/* disable horizontal scrolling !!! headache saver */
.container {
    overflow: hidden;
}

.col-md-8-5 {
	width: 75%;
}

.col-md-offset-1-5{
	margin-left: 12.5%;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 65px;
}

.language .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 12px;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 99999;
}

.language .btn-default {
    color: #88A5BE;
    border-color: #88A5BE;
}

a {
    color: #114B7D;
}

a:hover, a:focus {
    color: #114B7D;
    text-decoration: underline;
}

a.a-blue {
    color: #114B7D;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #F1F1F7;
}

.page-header {
    padding-bottom: 11.5px;
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
    border-bottom: 1px solid #F1F1F7;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #8D8FAC;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default {
    color: #9EA0BF;
    background-color: #ffffff;
    border-color: #9EA0BF;
}

.btn-info {
    color: #ffffff;
    background-color: #6087A8;
    border-color: #114B7D;
}

.btn-info:hover, .btn-info:active, .btn-info:focus {
    background-color: #114B7D;
    border-color: #114B7D;
}

.border-1, .oc-img-bordered {
	padding: 2px;
	border: 1px solid #C3C7FE;
}

h1.page-title{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 57px;
}

h1.page-title .first-letter {
	font-size: 140%;
}

.img-center {
    margin: 0 auto;
}

.language {
    display: inline-block;
    padding: 10px 0;
}

.navbar {
    position: relative;
    min-height: inherit;
    margin-bottom: 0;
    border: 1px solid transparent;
}

.navbar-nav {
    text-align: center;
    float: none;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
}

.navbar-nav > li > a {
	text-transform: uppercase;
    color: #114B7D;
}

.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a {
    text-decoration: none;
    background-color: #6087A8;
    color: white;
}

.nav-graffnestl {
    border-top: 1px solid #6087A8;
    border-bottom: 1px solid #6087A8;
}

/*animate hamburger icon
    https://codepen.io/designcouch/pen/Atyop
*/
.navbar-brand {
    padding: 10px 0;
    font-size: 20px;
    line-height: 25px;
    height: 45px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.navbar-toggle {
    width: 20px;
    height: 20px;
    position: relative;
    margin: 25px 20px 20px 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 0px;
}

.navbar-toggle .icon-bar {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #114B7D;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.navbar-toggle .icon-bar:nth-child(2) {
    top: 0px;
}

.navbar-toggle .icon-bar:nth-child(3) {
    top: 5px;
}

.navbar-toggle .icon-bar:nth-child(4) {
    top: 10px;
}

.navbar-toggle.active .icon-bar:nth-child(2) {
    top: 5px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.navbar-toggle.active .icon-bar:nth-child(3) {
    opacity: 0;
    left: -60px;
}

.navbar-toggle.active .icon-bar:nth-child(4) {
    top: 5px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#sidebar-wrapper {
    background-color: #0B3253;
}

.sidebar-nav li a{
    color: white;
    text-transform: uppercase;
}

.sidebar-nav > .sidebar-brand a {
    color: white;
    text-transform: inherit;
}

.navbar-toggle.active .icon-bar {
    background: white;
}



@media (min-width: 768px) {
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	    margin-right: 0;
	    margin-left: 0;
	    border-top: 1px solid #6B6FB0;
	    border-bottom: 1px solid #6B6FB0;
	}

	.navbar-nav > li > a {
	    padding-top: 5px;
	    padding-bottom: 5px;
	}

    .navbar-header {
        float: inherit;
    }

    .lawyer-name-block {
        min-height: 100px;
    }
}


@media (max-width: 767px) {
    .col-md-offset-1-5{
        margin-left: 0%;
    }
    .col-md-8-5 {
        width: 100%;
    }

    a.navbar-brand.text-center.img-center {
        display: inline-block;
        margin-right: 0;
        width: 59%;
        padding: 0;
        font-size: 16px;
        line-height: 25px;
        height: 45px;
        margin-left: inherit;
        transform: inherit;
        margin-top: -16px;
    }

    .navbar-toggle {
        margin: 29px 28px 20px 20px;
    }

    .navbar-nav {
        text-align: left;
    }

    .navbar-nav > li {
        display: block;
    }

    .sidebar-nav > .sidebar-brand a {
        margin-top: 4px;
    }

    h1.page-title {
        font-size: 32px;
    }
}

div.list-unstyled ul {
	list-style-type: none;
    margin: 0px;
    padding: 0px;
}

div.list-unstyled ul li {
	margin: 10px 0;
}

.grey {
	color: #9EA0BF;
}

.fs-12{
	font-size: 12px;
}

.fs-13{
	font-size: 13px;
}

.antispam {
    display: none;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #9EA0BF;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: inherit;
    color: inherit;
    border: 0;
    border-bottom: 1px solid #F1F1F7;
}

.form-control {
    display: block;
    width: 100%;
    height: 39px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.6;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #F1F1F7;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.custom-file-upload {
    border: 1px solid #F1F1F7;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.b-right {
    border-right: 1px solid #f2f2f9;
}

.m-t-xl{
    margin-top: 80px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #6087A8;
    color: white;
}

.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a {
     transition: none; 
}

.img-hover-container {
    width: 100%;
    height: 326px;
    background: url("../images/GNBX-0283.jpg");
    margin: 0 auto;
    background-size: cover;
    overflow: hidden;
    margin-bottom: -10px;
}

.img-hover-container a {
    text-decoration: none;
}

.img-hover-container a h4, .img-hover-container a p {
    color: white;
}

.overlay {
  display: block;
  background: #56758FCC;
  text-align: center;
  padding: 66px 40px 203px 40px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;;
}

.img-hover-container:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.interleges_text {
    background: -moz-linear-gradient(left, rgba(255,255,255,0.7) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.7) 99%, rgba(255,255,255,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.7) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.7) 99%,rgba(255,255,255,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0.7) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.7) 99%,rgba(255,255,255,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3ffffff',GradientType=1 ); /* IE6-9 */
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
  position: inherit;
  float: none;
}

.photocredit {
    position: absolute;
    bottom: 0;
    padding: 0 7px;
    right: 0;
    margin-right: 15px;
    color: white;
}

.box:hover > .photocredit.hidden {
    display: inherit !important;
}

.required > label::after {
    content: ' *';
    color: red;
}




